<h2>Evento Pontual</h2>

<style>
<!-- TODO: Colocar em outro lugar -->
.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
</style>

<div class="container">
	<div class="row">
     <h2>Stylish button list</h2>
    <ul class="ds-btn">
     <li>
             <a class="btn btn-lg " href="http://dotstrap.com/">
          <i class="glyphicon glyphicon-link pull-left"></i><span>User Profile<br><small>Lorem ipsum dolor</small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-lg btn-primary" href="http://dotstrap.com/">
          <i class="glyphicon glyphicon-user pull-left"></i><span>Novo Cliente<br><small>Cadastrar Novo Vliente</small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-lg btn-success " href="http://dotstrap.com/">
         <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Dashboard<br><small>Lorem ipsum dolor</small></span></a> 
            
        </li>
        <li>
             <a class="btn btn-lg btn-danger" href="http://dotstrap.com/">
         <i class="glyphicon glyphicon-tasks pull-left"></i><span>Daily Tasks<br><small>Lorem ipsum dolor</small></span></a> 
            
        </li>
        <li>
               <a class="btn btn-lg btn-warning" href="http://dotstrap.com/">
        <i class="glyphicon glyphicon-search pull-left"></i><span>Search<br><small>Lorem ipsum dolor</small></span></a> 
        </li>
        <li>
               <a class="btn btn-lg btn-info" href="http://dotstrap.com/">
         <i class="glyphicon glyphicon-list pull-left"></i><span>List Group<br><small>Lorem ipsum dolor</small></span></a> 
        </li>
    </ul>
    
	</div>
</div>